[dev]
client_id = <CONSUMER KEY>
session_cache = saved_session.json
username =  <your login name>
loginURL =  https://login.salesforce.com
keyfile =   server.key
authURL =   https://login.salesforce.com/services/oauth2/token
rest_endpoint = /services/data
api_version = v56.0
